# Email Configuration
# Get your API key from https://resend.com
RESEND_API_KEY=your_resend_api_key_here

# Contact email destination
CONTACT_EMAIL=brandan.pratt1@gmail.com

# Deployment URL
NEXT_PUBLIC_SITE_URL=https://portfolio-website-brandan.vercel.app

# Google Search Console (optional)
# GOOGLE_VERIFICATION_CODE=your_google_verification_code

# Optional: Add other social links or personal information
# These can be used in your components if needed
NEXT_PUBLIC_GITHUB_URL=https://github.com/brxn94
NEXT_PUBLIC_TWITTER_URL=https://twitter.com/brxn94
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/brandan-pratt
